$base-fs: 1.125; // Base font size = 18px = 1.125 * 16px (default font size)
$ratio: 1.5; // Perfect fifth modular scale
$line-height: 1.45;


// Breakpoints
$phablet-breakpoint: 37em;
$tablet-breakpoint: 48em;
$desktop-breakpoint: 64em;
$large-desktop-breakpoint: 80em;