//@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat');

@import "variables";
@import "functions";
@import "mixins";
@import "reset";
@import "base";


.large-heading {
    font-size: ms(4);
}


.f-f-montserrat {
    font-family: 'Montserrat', sans-serif;
}