@import "~@Styles/_variables.scss";

.articles-page {
    display: flex;
    flex-direction: column;
    width: 86.5%;
    margin: 0 auto;

    a {
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    @media screen and (min-width: $desktop-breakpoint) {

    }
}