@import "~@Styles/_variables.scss";
@import "~@Styles/_mixins.scss";

$content-margin: 6.25%;

.article-page {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $desktop-breakpoint) {
        flex-direction: row;
    }

    > * {
        margin: 0 ($content-margin / 2);
    }

    .article-content {
        margin-left: $content-margin;
        flex: 10 10 0;
    }

    .article-title {
        max-width: 52rem;
    }

    .article-body {
        margin-left: 8%;
    }

    .quick-links-container {
        flex: 3 3 auto;
        margin-right: $content-margin;
        @include margin-top(2);
    }
}