@import "~@Styles/_variables.scss";

.articles-page {
    display: flex;
    flex-direction: column;
    width: 86.5%;
    margin: 0 auto;

    a {
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    .fade {
        background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%);
        width: 100%;
        position: relative;
        content: '';
    }

    @media screen and (min-width: $desktop-breakpoint) {

    }
}